<?xml version="1.0"?>
<settings>
  <profiles>
    <profile>
      <id>JaniLiferay</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
        <plugin.type>portlet</plugin.type>
        <liferay.version>6.2.0-ga1</liferay.version>
        <liferay.maven.plugin.version>6.2.0-ga1</liferay.maven.plugin.version>
        <liferay.auto.deploy.dir>/Users/jani/Applications/liferay-portal-6.2.0-ce-ga1/deploy</liferay.auto.deploy.dir>
        <liferay.app.server.deploy.dir>/Users/jani/Applications/liferay-portal-6.2.0-ce-ga1/tomcat-7.0.42/webapps</liferay.app.server.deploy.dir>
        <liferay.app.server.lib.global.dir>/Users/jani/Applications/liferay-portal-6.2.0-ce-ga1/tomcat-7.0.42/lib/ext</liferay.app.server.lib.global.dir>
        <liferay.app.server.portal.dir>/Users/jani/Applications/liferay-portal-6.2.0-ce-ga1/tomcat-7.0.42/webapps/ROOT</liferay.app.server.portal.dir>
      </properties>
      <repositories>
	<repository>
          <id>http://maven.springframework.org/</id>
          <name>http://maven.springframework.org/</name>
          <url>http://maven.springframework.org/</url>
	</repository>
	<repository>
	  <id>jboss</id>
	  <url>http://repository.jboss.com/</url>
	  <releases>
	    <enabled>true</enabled>
	  </releases>
	  <snapshots>
	    <enabled>false</enabled>
	  </snapshots>
	</repository>
	<repository>
	  <id>liferay-ce</id>
	  <name>Liferay CE</name>
	  <url>https://repository.liferay.com/nexus/content/groups/liferay-ce/</url>
	</repository>
	<repository>
	  <id>liferay-releases</id>
	  <url>http://localhost:8081/nexus/content/repositories/liferay-releases</url>
	</repository>
      </repositories>
      <pluginRepositories>
	<pluginRepository>
	  <id>liferay-plugin</id>
	  <url>https://repository.liferay.com/nexus/content/groups/liferay-ce/</url>
	</pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>liferay-releases</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
    <server>
      <id>liferay-snapshots</id>
      <username>admin</username>
      <password>admin123</password>
    </server>
  </servers>
</settings>
